<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear nuevo usuario</title>
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      rel="shortcut icon"
      href="https://c0.klipartz.com/pngpicture/128/948/gratis-png-universidad-de-saint-thomas-aquinas-universidad-de-valladolid-universidad-de-santo-tomas-universidad-de-oxford-universidad-de-santo-tomas-thumbnail.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container_grid">
      <div class="grid_navegacion">
        <div>
          <img
            class="img_logo"
            src="https://www.santototunja.edu.co/images/01-USTATunja/01-USTA-Tunja-Imagenes/logo_santoto_tunja_2022.png"
            alt=""
          />
        </div>
        <ul class="navegacion_admi">
          <li>
            <img src="/img/undraw_male_avatar_g98d.svg" alt="" />

            <a href="/users/create">Crear nuevo usuario</a>
          </li>
          <li>
            <img src="/img/undraw_reminder_re_fe15.svg" alt="" />
            <a href="/projects">Admin proyectos</a>
          </li>
          <li>
            <img src="/img/undraw_male_avatar_g98d.svg" alt="" />
            <a href="/logout">salir del sistema</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid_dashboard">
      <div class="item_bienvenida">
        <h2>panel de administrar usuario</h2>
      </div>
    </div>
  </body>
</html>
